<!doctype html>
<html>
<head>
  <title>{{ inventory_hostname }} - Ansible Managed</title>
</head>
<body>
  <h1>{{ inventory_hostname }} is managed by Ansible</h1>
  <p>This page was deployed over SSH by an Ansible playbook using a Jinja2 template.</p>
  <ul>
    <li>Inventory host: {{ inventory_hostname }}</li>
    <li>Container hostname: {{ ansible_hostname }}</li>
    <li>OS: {{ ansible_distribution }} {{ ansible_distribution_version }}</li>
    <li>Architecture: {{ ansible_architecture }}</li>
  </ul>
</body>
</html>
