extends: default
rules:
  line-length:
    max: 180
  empty-lines:
    max-end: 1
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
    check-keys: false
  octal-values:
    forbid-implicit-octal: true
